<h1><a href="users/new"> Register </a> or <a href="sessions/new"> Login </a></h1>
<center>
<h1>Locate Beach</h1>
<form id="beach-info-form" action='/' method="post">
	Enter Location: <input type="text" name="location"><br><br>
	Enter Height: <input type="text" name="average_wave"><br><br>
	Enter Condition: <input type="text" name="condition"><br><br>
	
	<input type="submit" value="Find Nearest Beach">
</form>
</center>