<h1><a href="users/new"> Register </a> or <a href="sessions/new"> Login </a></h1>
<center>
<h1>Show a beach</h1>
<form id="beach-info-form" action='/' method="post">
	Enter Location: <input id="beach" type="text" name="location"><br><br>
	
	<input type="submit" value="Find Nearest Beach">
</form>

<div class="append-area">

</div>

</center>
