<div id="status" align="right">
<p><a href="users/new"> Register </a> / 
<% if session[:id] = nil %> 
<a href="sessions/new"> Login </a>
<% else %>
<a href="/logout"> Log Out </a> /
<a href="/users/#{@user.id}"> Your Page </a>
<% end %>
</p>
</div> 

<center>
<h1>Show a beach</h1>
<form id="beach-info-form" action='/' method="post">
	<select>
	<option id="beach" value="ocean-beach-sf" name="location">Ocean Beach</option>
	<option id="beach" value="south-ocean-beach" name="location">S. Ocean Beach</option>
	<option id="beach" value="pacifica-lindamar" name="location">Pacifica</option>
	<option id="beach" value="mavericks" name="location">Mavericks</option>

	</select>
	<input type="submit" value="Show me beach">
</form>
<br>
<div class="append-area">

</div>

</center>