<h1><a href="users/new"> Register </a> or <a href="sessions/new"> Login </a></h1>
<center>
<h1>Show a beach</h1>
<form id="beach-info-form" action='/' method="post">
	<select>
	<option id="beach" value="ocean-beach-sf" name="location">Ocean Beach</option>
	<option id="beach" value="south-ocean-beach" name="location">S. Ocean Beach</option>
	<option id="beach" value="pacifica-lindamar" name="location">Pacifica</option>
	<option id="beach" value="mavericks" name="location">Mavericks</option>

	</select>
	<input type="submit" value="Show me beach">
</form>
<br>
<div class="append-area">

</div>

</center>
