nearest beach
<div class="cointainer", id="surfcam">
<iframe width="640" height="360" src="http://e.cdn-surfline.com/syndication/embed/v1/player.html?id=4127" frameborder="0" scrolling="no" allowfullscreen></iframe><div style="margin: 10px 0px;"><a href="http://www.surfline.com/surf-report/<%@beach%>-sf-northern-california_4127/" target="_blank" title="Ocean Beach, SF Surf Report and HD Surf Cam">Ocean Beach, SF</a>  <a href="http://www.surfline.com" target="_blank" title="Surfline.com - Global Surf Reports, Surf Forecasts, Live Surf Cams and Coastal Weather">Surfline.com</a></div>
</div>